/*site color  #1A446C - blue grey
  #1A446C - blue grey
  #689DC1 - light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
  #8DD019 - light green
*/

html { height: 100%; width: 100%; }

body { 
	height: 100%; width: 100%; 
	margin: 0; padding: 0; border: 0; 
	/*background: #FFFFFF;*/
  	
  	font-family: Times,Verdana,Arial,Helvetica,sans-serif; 
  	font-size: 13px; line-height: 15px;
  	background: #EEE4B9;
}

img { border: none; }

/*table, tr, td, tr { border-collapse: collapse; vertical-align: top; text-align: left;
  font: 13px/15px Times,Verdana,Arial,Helvetica,sans-serif; }*/

a { color: #8D0D19;}
a:hover { color: #1A446C; }


#header { 
	height: 70px; 
	margin: 0; padding: 0; text-align:left; 
	background: #1A446C; color: #D4E6F4; 
}

#header h1 { padding: 1em; margin: 0; }

/* Note: IE 5 & 6 won't understand min-height */

#main { 
	height: 600px; 	width: 100%; 
	margin: 0;
	padding: 0;	
	background: #EEE4B9; 
}

#footer { 
	clear: both;
	height: 2em; 
	padding: 1em; 
	margin: 0;
	text-align: center; 
  	background: #1A446C;  
  	color: #D4E6F4; 
 }

table.bordered tr th, table.bordered tr td { border: 1px solid #000000; }

/*Navigation*/
#navigation{
	float: left;;
	width: 150px; height: 100%;
	margin: 0; padding: 0 2em; 
	color: #D4E6F4; background: #8DD019;
}

#navigation a { color: #D4E6F4; text-decoration: none;}

#navigation a:hover{color: #FFFFFF;}

ul.subjects {
	margin: 1em 0; padding-left: 0; list-style: none;
}

ul.pages {
	padding-left: 2em; list-style: square; font-weight: normal;
}
.seleted { font-weight: bold;}

/*Page Content*/

#page {
	float: left; 
	height: 100%;
	padding-left: 2em; 
	vertical-align: top;
	background: #EEE4B9;
}

#page h2 { color: #8D0D19; margin-top: 1em;}
#page h3 { color: #8D0D19;}

.view-content {
	margin: 1em; padding: 1em; border: 2px solid #999;
}

div.message {

	border: 2px solid #8DD019;
	color:  #8DD019; font-weight: bold;
	margin: 1em 0 ; padding: 1em;
}

/*errors*/
.error {
	color: #8DD019; border: 2px solid #8DD019;
	margin: 1em 0; padding: 1em;
}

.error ul{ padding-left: 2em; }
